 :root{
    --primary: #C8A951;
    --secondary: #1C1C1C;
    --light: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary);
    color: white; 
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%; /*7% : agar responsive terus padding*/
    background-color: rgba(1, 1, 1,0.8);
    border-bottom: 1px solid #6f5d2c;
    /* Biar posisi navbar mentok atas kasi fixed left right top 0 0 0 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    font-style: italic;
}
.navbar .navbar-logo span{
    color: var(--primary);
}
.navbar .navbar-nav a{
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover{
    color: var(--primary);
    transition: 0.1s linear;
    translate: 0 -1px;
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
    transition: transform 0.2s linear;
}
.navbar .navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover{
    color: var(--primary);
    transition: 0.1s linear;
}
#hamburger-menu{
    display: none;
}





/* Media Queries */

/* Laptop */
@media(max-width: 1366px){
    html{
        font-size: 75%;
    }
}

/* Tablet */
@media(max-width: 768px){
    html{
        font-size: 62.5%;
    }
    #hamburger-menu{
        display: inline-block;
    }
    .navbar .navbar-nav{
        position: absolute; /*supaya bisa gerak2in elemen tanpa ganggu elemen lain*/
        top: 100%;
        right: -100%; /*sembunyiin navbar nav*/
        background-color: var(--light);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active{
        right: 0; /*munculin navbar nav*/
    }
    .navbar .navbar-nav a{
        display: block;
        color: var(--secondary);
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;        
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover:after{
        transform: scaleX(0.2);
    }
}

/* Mobile Phone */
@media(max-width: 450px){
    html{
        font-size: 55%;
    }
    
}